<!DOCTYPE html>
<html lang="fr">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Email</title>
</head>
<body>
     <h1>Ouled Bakkar - demande de contact - {{ subject }}</h1>

     <h2>Contact :</h2>
     <ul>
     <li>Nom : {{ firstname|capitalize ~ ' ' ~ lastname|upper }}</li>
     <li>Email : {{ emailAddress }}</li>
     </ul>

     <h2>Message</h2>
     <p>{{ message|nl2br }}</p>
</body>
</html>