<div class="container">
    <h1>Veuillez confirmer votre email !</h1>

    <p>
        Merci de confirmer votre email en cliquant sur le lien suivant: <br><br>
        <a href="{{ signedUrl }}">Confirmez votre email</a>.
        Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
    </p>

    <p>
        Merci !
    </p>
</p>  div 