{% block footer %}
    <div class="row">
          <div class="cantainer-fluid pt-5 w-100 col-12">
               <div class="row logo justify-content-center w-100 ">
                    <div class="col-5 text-center d-flex justify-content-center">
                         <hr>
                    </div>
                    <div class="col-2 text-center">
                         <img src="{{asset('assets/img/logo/LOGO3.png')}}" alt="" class="img-fluid">
                    </div>
                    <div class="col-5 text-center text-center d-flex justify-content-center">
                         <hr>
                    </div>
              </div>
          </div>
              
          <div  class="cantainer-fluid w-100 col-12">
               <div class="row mb-5">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 mt-5">
                         <div id="mapid"></div>
                    </div>
                    <div class="col-md-2"></div>
               </div>
               <div class="d-flex justify-content-center align-items-center">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 d-flex flex-column">
                         <i class="bi bi-geo-alt-fill text-center mb-3"></i>
                         <p class="text-center"> 9 rue de l'église 91240 Saint-michel-sur-orge </p>
                         <hr>
                    </div>
                    <div class="col-md-4"></div>
                  
               </div>
         </div>
    </div>
     
{% endblock %}