{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de votre mot de passe{% endblock %}

{% block content %}
   <div class="container text-center bg-dark bg-gradient rounded-3 text-white">
        <div class=" d-flex flex-column">
            <p class="mb-3 fw-bold mt-5">
            Si un compte correspondant à votre adresse e-mail existe, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe. </p>
            <p class="mb-3 fw-bold"> Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
           
            <p class="mb-3 fw-bold">Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam </p>
            <p class="mb-3 fw-bold">ou </p>
        </div>
        <a href="{{ path('app_forgot_password_request') }}" class="btn mb-5">Réessayer</a>
   </div>
{% endblock %}