{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block content %}
   <div class="container">
        <div class="p-5 mb-5 bg-light">
            <h2 class="display-3 text-center">Modifier mon mot de passe</h2>
            <hr class="my-2">  
        </div> 
      <div class="bg-dark bg-gradient rounded-3 text-white p-5">
            {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}
                <button class="btn btn-primary">Modifier le mot de passe</button>
            {{ form_end(resetForm) }}
      </div>
   </div>
{% endblock %}