{% extends 'base.html.twig' %}

{% block title %}CGU - Ouled Bakkar{% endblock %}
{% block header %}

{{parent()}}
    
{% endblock  %}
{% block main %}
   <div class="container">
        <h1 class="text-center">Conditions générale d'utilisation du site LaTunisienne </h1>
        <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt at hic nihil earum quo soluta modi nisi, nemo recusandae, magni ducimus, nostrum eaque laudantium architecto temporibus iste eum suscipit distinctio!
        Consequatur velit nobis quod fuga obcaecati nemo ut atque? Suscipit voluptatum mollitia doloremque nemo optio fugiat enim porro eligendi voluptas, omnis nostrum obcaecati est velit cum modi cumque repellendus necessitatibus!
        Asperiores eveniet quo quibusdam sit sed placeat itaque sapiente, esse distinctio repudiandae nihil impedit reprehenderit vel eius. Itaque, perspiciatis suscipit, eos facere molestias ullam officiis provident aliquam ipsa labore officia!
        Autem exercitationem, nam sapiente sint amet suscipit beatae ut officia non nostrum consectetur ipsum id officiis ad quibusdam? Doloremque id laboriosam accusantium optio amet eligendi quia autem. Magnam, quis eum.
        Unde vero incidunt optio. Suscipit commodi magni dolores quis reiciendis consectetur sunt distinctio, quidem possimus labore rem illo dicta! Nobis incidunt molestias expedita odio similique suscipit possimus error ullam dignissimos.
        Iste, veniam! Expedita deleniti error cumque. Adipisci alias, maiores ipsum molestias eum debitis doloribus excepturi modi placeat accusantium iusto delectus quod nemo officia esse asperiores fugiat cum qui neque vitae!
        Atque aut iste voluptas temporibus exercitationem numquam deleniti alias saepe commodi soluta assumenda harum similique, quam repudiandae, hic mollitia ipsam. Reprehenderit sit pariatur totam earum. Cum eos enim similique quam.
        Eos corrupti fugit neque unde nam aut, doloremque corporis. Debitis doloremque adipisci, voluptas et enim quae beatae soluta cum totam exercitationem eum dolor voluptatibus sequi qui dolore sunt. Iusto, corrupti.
        Itaque, doloremque ratione. Doloribus minus enim excepturi non aliquid quis vero voluptatem tempora aspernatur asperiores consequuntur rerum recusandae tenetur quos eaque reprehenderit, possimus, laboriosam id harum pariatur cum. Ut, quae.
        Officiis repellat numquam eos ratione libero earum ipsum quaerat sapiente vitae nostrum. Magnam repellat sed asperiores temporibus error inventore dolore culpa nisi impedit corrupti, recusandae assumenda velit quisquam earum tempore?
        Sint, iure dolore provident quasi at similique totam ab facilis quam sed suscipit expedita id minus explicabo saepe exercitationem nam dolorum numquam quisquam illo? Provident enim impedit assumenda animi eos!
        Nihil distinctio dicta, ipsum blanditiis corrupti alias ducimus deserunt harum quidem. Dicta saepe magni nemo, facilis ut libero eius rerum fugit minus vel! Doloremque quo veritatis neque quod quasi nam?
        Provident omnis, rerum cumque delectus quia voluptatem corporis non et vel fuga quae qui necessitatibus? Nihil enim, fugit cumque quas, itaque assumenda mollitia pariatur alias eligendi aut harum, modi possimus.
        Amet, delectus. Dolorum accusantium cumque odit debitis nobis quam! Explicabo quisquam optio esse ea possimus cum hic, praesentium similique, iste facilis dignissimos atque neque. Est rem mollitia ea dolorem excepturi.
        Fugiat voluptatibus quia est alias et. Iste impedit tempora, quae hic fugit dolor sequi quos similique provident, reprehenderit consectetur nam itaque commodi earum illo sit labore, laboriosam tenetur atque est?
        Voluptas, accusantium illo. Tempore necessitatibus ipsum sequi eos dolorem quisquam, ea nulla nemo sapiente odit, laborum nesciunt ut inventore iste voluptatibus at saepe fugit quo vel maiores voluptatem, non illum.
        Voluptatibus molestiae, praesentium cupiditate temporibus qui quidem dolores architecto nam. Autem sint voluptatibus laboriosam explicabo qui ab repellat illo nihil unde, odit, commodi inventore recusandae corporis provident exercitationem quod dolores!
        Quo dolore perferendis aut explicabo officia nobis, possimus, officiis amet dicta fuga dignissimos voluptatum fugit veniam quos blanditiis illum earum nihil, quidem quasi mollitia impedit praesentium culpa aspernatur. Dignissimos, a.
        Amet excepturi repudiandae ad ab, impedit consectetur quis adipisci eligendi delectus neque perspiciatis nihil at dolores aliquam vero inventore facilis fugiat, aspernatur a optio voluptatibus molestias facere quae. Corrupti, amet.
        Saepe, doloribus? Impedit, nisi ipsum veritatis tempore quasi, pariatur debitis iste totam fuga quae quam at quos consequuntur maiores laborum eligendi beatae repellat culpa ut necessitatibus, dolorem quis ducimus. Maxime?</p>
   </div>
{% endblock %}
{% block footer %}
    
{% endblock  %}
